workflows/1.Backup workflows to GitHub.json
{"createdAt":"2025-10-07T03:29:34.439Z","updatedAt":"2025-10-07T03:56:11.000Z","id":"WDuPhNiRDm6kXtGT","name":"1.Backup workflows to GitHub","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items2').item.json.name }}.json","fileContent":"={{ $('Loop Over Items2').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items2').item.json.name }}.json"},"name":"Update file content and commit","type":"n8n-nodes-base.github","position":[1136,512],"typeVersion":1,"id":"b675ad1d-6365-413f-8149-cefeb17c0dfd","webhookId":"e08d3b22-5d7c-4d08-bd6f-79f52c11760c","credentials":{"githubApi":{"id":"UxuQ8di6bOAXynXP","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items2').item.json.name }}.json","fileContent":"={{ $('Loop Over Items2').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items2').item.json.name }}.json"},"name":"Create new file and commit","type":"n8n-nodes-base.github","position":[624,512],"typeVersion":1,"id":"bf299cd5-c302-4e25-8b64-9ec39aadfabe","webhookId":"8491fde6-8f34-4d5b-9b68-1f6206cc779e","credentials":{"githubApi":{"id":"UxuQ8di6bOAXynXP","name":"GitHub account"}}},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"1f2e1a59-cbf0-4efd-9b20-3c1f626cb3a1","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[624,336]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items2').item.json.toJsonString() }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"40b633e2-e195-45fb-9d42-4812423910e3","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[832,336]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"6b27fe35-19b6-4654-ac22-b6f3396df500","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[384,352]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"6b27fe35-19b6-4654-ac22-b6f3396df500","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[384,352]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items2').item.json.toJsonString() }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"40b633e2-e195-45fb-9d42-4812423910e3","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[832,336]},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"1f2e1a59-cbf0-4efd-9b20-3c1f626cb3a1","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[624,336]},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items2').item.json.name }}.json","fileContent":"={{ $('Loop Over Items2').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items2').item.json.name }}.json"},"name":"Create new file and commit","type":"n8n-nodes-base.github","position":[624,512],"typeVersion":1,"id":"bf299cd5-c302-4e25-8b64-9ec39aadfabe","webhookId":"8491fde6-8f34-4d5b-9b68-1f6206cc779e","credentials":{"githubApi":{"id":"UxuQ8di6bOAXynXP","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items2').item.json.name }}.json","fileContent":"={{ $('Loop Over Items2').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items2').item.json.name }}.json"},"name":"Update file content and commit","type":"n8n-nodes-base.github","position":[1136,512],"typeVersion":1,"id":"b675ad1d-6365-413f-8149-cefeb17c0dfd","webhookId":"e08d3b22-5d7c-4d08-bd6f-79f52c11760c","credentials":{"githubApi":{"id":"UxuQ8di6bOAXynXP","name":"GitHub account"}}},{"parameters":{"options":{}},"id":"5e7e351b-7cfd-48fd-8038-59f2f7c37e4f","name":"Loop Over Items2","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-64,272],"executeOnce":false},{"parameters":{"filters":{},"requestOptions":{}},"id":"f0b4a032-0e3e-4bd3-ad63-0f238eeed9df","name":"n8n","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[384,80],"credentials":{"n8nApi":{"id":"zxR9TeyqYORXV0Ly","name":"n8n account"}}},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"vtnguyen04"},{"name":"repo.name","value":"NguyenBlog"},{"name":"repo.path","value":"workflows/"}]},"options":{}},"name":"Globals","type":"n8n-nodes-base.set","position":[176,80],"typeVersion":1,"id":"cf4099fb-e624-491d-bcfe-94b463cb6ad2"},{"parameters":{"content":"https://www.youtube.com/channel/UCIhrU-hkXylBKX8MRaN_2iA/\nBase on shashikanth's work","height":80,"width":300,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[992,752],"id":"d275ecec-e27b-4654-ad02-305bb20044c8","name":"Sticky Note"},{"parameters":{"content":"# BACKUP WORKFLOW LÊN GITHUB","height":80,"width":660},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[272,-208],"id":"03a772e9-a015-4bf0-8673-3b1df235f1d5","name":"Sticky Note1"},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"c5c854a6-6f55-4945-9a9f-7243bc764d83","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-64,80]},{"parameters":{"content":"## Edit this node 👇\nrepo.owner = id github count\nrepo.name = github repo name","height":100,"width":270,"color":4},"id":"0a96b447-d041-478e-b375-49f63b072bad","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[16,-48],"typeVersion":1},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,80],"id":"b8cb8bc9-71f3-4291-a4da-602b31ac2501","name":"Edit Fields"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","mode":""},"repository":{"__rl":true,"value":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","mode":""},"filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"name":"GitHub1","type":"n8n-nodes-base.github","position":[160,352],"typeVersion":1,"alwaysOutputData":true,"id":"069e78a1-e17f-4b2e-aa15-8441a2696879","webhookId":"31886b56-83f2-44ff-ada2-cf2b62a11651","credentials":{"githubApi":{"id":"UxuQ8di6bOAXynXP","name":"GitHub account"}},"continueOnFail":true}],"connections":{"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"Loop Over Items2","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"GitHub1","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"GitHub1":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"68220dc4-a559-42b0-891a-ed0697942eb6","triggerCount":0,"shared":[{"createdAt":"2025-10-07T03:29:34.444Z","updatedAt":"2025-10-07T03:29:34.444Z","role":"workflow:owner","workflowId":"WDuPhNiRDm6kXtGT","projectId":"9HJZe2ZyF9KLloKH"}],"tags":[]}