workflows/2.Backup credentials to GitHub.json
{"createdAt":"2025-10-07T03:56:32.644Z","updatedAt":"2025-10-07T03:58:02.000Z","id":"xwtnNkhd14lLtX5L","name":"2.Backup credentials to GitHub","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"5abf523a-4047-4976-a740-fafcc92e7afe","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[-256,96],"typeVersion":1},{"parameters":{"content":"## Subworkflow","height":691,"width":2087,"color":6},"id":"75c82bb9-302f-4da9-8664-bceea4f25606","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-320,464],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"8bfa1312-13d0-4248-b689-9d2bc3e8961c","name":"Return","type":"n8n-nodes-base.set","position":[1552,816],"typeVersion":3.3},{"parameters":{"url":"={{ $json.download_url }}","options":{}},"id":"dd5b260f-9ea3-4df4-98d7-341fde9e3fdb","name":"Get File","type":"n8n-nodes-base.httpRequest","position":[672,544],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"9619a55f-7fb1-4f24-b1a7-7aeb82365806","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"f273e197-a5e7-400b-8e7a-f21c0632f2c9","name":"If file too large","type":"n8n-nodes-base.if","position":[464,576],"typeVersion":2},{"parameters":{},"id":"47d7018b-ee25-441a-aabd-e5cdba01a726","name":"Merge Items","type":"n8n-nodes-base.merge","position":[464,832],"typeVersion":2},{"parameters":{"jsCode":"const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();"},"id":"3eef64ba-dd08-42d9-b048-7e531125f4bb","name":"isDiffOrNew","type":"n8n-nodes-base.code","position":[672,832],"typeVersion":1},{"parameters":{"dataType":"string","value1":"={{$json.github_status}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"id":"b394a815-0719-4d9f-ae3d-12aff691a5db","name":"Check Status","type":"n8n-nodes-base.switch","position":[896,832],"typeVersion":1},{"parameters":{},"id":"ac7b075c-3731-45e5-86f5-f44cb0a51dd0","name":"File is different","type":"n8n-nodes-base.noOp","position":[1104,832],"typeVersion":1},{"parameters":{},"id":"4e5ac36e-16f6-4e52-a14b-5c173a464cb7","name":"File is new","type":"n8n-nodes-base.noOp","position":[1104,992],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"={{ $('Globals').item.json.repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Globals').item.json.repo.name }}"},"filePath":"={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"},"id":"13aecad5-43b1-4183-9958-da8b2b64f8c3","name":"Create new file","type":"n8n-nodes-base.github","position":[1328,992],"typeVersion":1,"webhookId":"1e5a3a7b-02df-45a0-9719-2a2f2f005ffd","credentials":{"githubApi":{"id":"UxuQ8di6bOAXynXP","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"name","value":"={{ $('Globals').item.json.repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Globals').item.json.repo.name }}"},"filePath":"={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"},"id":"bf9a4845-0c67-4c38-b4a9-fe477797598f","name":"Edit existing file","type":"n8n-nodes-base.github","position":[1328,832],"typeVersion":1,"webhookId":"19db097a-c49d-4dc6-acf2-7f016226fcde","credentials":{"githubApi":{"id":"UxuQ8di6bOAXynXP","name":"GitHub account"}}},{"parameters":{"options":{}},"id":"2595f7ca-36c3-4e28-bba4-2354b945251e","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[352,192],"typeVersion":3},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":2}]}},"id":"7f01ab78-ef03-455d-af45-ad1b61b9dde0","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-256,288],"typeVersion":1.2},{"parameters":{"content":"https://www.youtube.com/channel/UCIhrU-hkXylBKX8MRaN_2iA/ \nBase on solomon's work","height":80,"width":385,"color":7},"id":"c4b73a49-c51a-4b0c-a29e-f0392d1bdeca","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1392,1232],"typeVersion":1},{"parameters":{"content":"## Main workflow backup ","height":435,"width":2089,"color":3},"id":"1a7f5642-e6f7-4d41-8398-b2ad899022d8","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-320,16],"typeVersion":1},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $json.repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $json.repo.name }}"},"filePath":"={{ $json.repo.path }}{{ $('Execute Workflow Trigger').item.json.id }}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"81625858-ee34-4d44-a246-e3852733ee1a","name":"Get file data","type":"n8n-nodes-base.github","position":[272,576],"typeVersion":1,"alwaysOutputData":true,"webhookId":"98eba206-4709-45fb-966a-9f09e81e2bde","credentials":{"githubApi":{"id":"UxuQ8di6bOAXynXP","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"6cf546c5-5737-4dbd-851b-17d68e0a3780","name":"repo.owner","type":"string","value":"vntnguyen04"},{"id":"452efa28-2dc6-4ea3-a7a2-c35d100d0382","name":"repo.name","type":"string","value":"n8n-multisocial "},{"id":"81c4dc54-86bf-4432-a23f-22c7ea831e74","name":"repo.path","type":"string","value":"credentials/"}]},"options":{}},"id":"013b674f-5191-4f19-827a-e03adff84143","name":"Globals","type":"n8n-nodes-base.set","position":[48,576],"typeVersion":3.4},{"parameters":{"command":"npx n8n export:credentials --all --decrypted"},"id":"1550f812-4af4-4293-a3b8-e0c427c8d8ee","name":"Execute Command","type":"n8n-nodes-base.executeCommand","position":[-32,192],"typeVersion":1},{"parameters":{"jsCode":"// Function to beautify JSON\nfunction beautifyJson(jsonString) {\n  try {\n    // Parse the JSON string\n    const jsonObject = JSON.parse(jsonString);\n\n    // Format the JSON with indentation\n    return jsonObject; // Return the parsed object directly\n  } catch (error) {\n    // Return the error message if JSON is invalid\n    return `Invalid JSON: ${error.message}`;\n  }\n}\n\n// Retrieve the JSON object from the input data\nconst input = $input.all()[0].json;\n\n// Extract the JSON string from the stdout field\nconst jsonString = input.stdout.match(/\\[{.*}\\]/s);\n\n// Check if a valid JSON string is found\nif (!jsonString) {\n  return {\n    json: {\n      error: \"No valid JSON string found in stdout.\"\n    }\n  };\n}\n\n// Beautify the JSON\nconst beautifiedJson = beautifyJson(jsonString[0]);\n\n// Output the beautified JSON, ensuring each entry is in an object with a 'json' key\nconst output = beautifiedJson.map(entry => ({ json: entry }));\n\n// Return the output\nreturn output;\n"},"id":"53618129-d91f-456a-a282-847b3fdbf82c","name":"JSON formatting","type":"n8n-nodes-base.code","position":[144,192],"typeVersion":2},{"parameters":{"workflowId":"={{ $workflow.id }}","mode":"each","options":{}},"id":"36c22742-a88f-48dc-b3bc-6dfcf36ce20e","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","position":[576,192],"typeVersion":1},{"parameters":{"inputSource":"passthrough"},"id":"de74ff93-0c65-40f6-919e-cd94d87426a0","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-112,832],"typeVersion":1.1},{"parameters":{"content":"# BACKUP CREDENTIALS LÊN GITHUB","height":80,"width":740},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[384,-176],"id":"58f9f5ff-2210-4928-ab54-b70ed3f03f55","name":"Sticky Note4"},{"parameters":{"content":"## Edit this node 👇\nrepo.owner = id github count\nrepo.name = github repo name","height":100,"width":270,"color":4},"id":"060cc75a-4ba0-4b72-a81b-930d3722f0a0","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-96,464],"typeVersion":1}],"connections":{"On clicking 'execute'":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"Get File":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get File","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Check Status":{"main":[[],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Globals":{"main":[[{"node":"Get file data","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"JSON formatting","type":"main","index":0}]]},"JSON formatting":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Globals","type":"main","index":0},{"node":"Merge Items","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"84ea98b8-b39a-40d8-982b-83948b4d901e","triggerCount":0,"shared":[{"createdAt":"2025-10-07T03:56:32.648Z","updatedAt":"2025-10-07T03:56:32.648Z","role":"workflow:owner","workflowId":"xwtnNkhd14lLtX5L","projectId":"9HJZe2ZyF9KLloKH"}],"tags":[]}