workflows/3.Restore workflow and credentials from GitHub.json
{"createdAt":"2025-10-07T03:58:17.808Z","updatedAt":"2025-10-07T04:01:37.000Z","id":"Pg6iZa6zV5y1RdHb","name":"3.Restore workflow and credentials from GitHub","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"0d3d21d8-ae97-4cd2-8ff6-c089a3369be0","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[2384,320],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"6cf546c5-5737-4dbd-851b-17d68e0a3780","name":"repo.owner","type":"string","value":"your-github-account"},{"id":"452efa28-2dc6-4ea3-a7a2-c35d100d0382","name":"repo.name","type":"string","value":"your-github-n8n-repo"},{"id":"81c4dc54-86bf-4432-a23f-22c7ea831e74","name":"repo.path","type":"string","value":"credentials"}]},"options":{}},"id":"5e011760-103d-46f1-9606-d2b6524618cf","name":"Globals","type":"n8n-nodes-base.set","position":[2624,320],"typeVersion":3.4},{"parameters":{"content":"## Edit this node 👇\nrepo.owner = id github count\nrepo.name = github repo name","height":100,"width":270,"color":4},"id":"0ba0bc2f-9489-495c-89be-c2d55a82c2ab","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[2432,208],"typeVersion":1},{"parameters":{"url":"=https://api.github.com/repos/{{ $json.repo.owner }}/{{ $json.repo.name }}/contents/{{ $json.repo.path }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{}},"id":"3f093271-b3d1-46f3-ab19-27d38358b5ac","name":"Get all files in given path","type":"n8n-nodes-base.httpRequest","position":[2832,320],"typeVersion":4.2,"credentials":{"githubApi":{"id":"UxuQ8di6bOAXynXP","name":"GitHub account"}}},{"parameters":{"fieldToSplitOut":"path","options":{}},"id":"96415ae0-e066-47a9-bfcf-310c8379f291","name":"Split the result","type":"n8n-nodes-base.splitOut","position":[2384,544],"typeVersion":1},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $('Globals').item.json.repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Globals').item.json.repo.name }}","mode":"name"},"filePath":"={{ $('Get all files in given path').item.json.path }}","additionalParameters":{}},"id":"a721e330-8673-49f4-80be-9af71864c538","name":"Get file content from GitHub","type":"n8n-nodes-base.github","position":[2624,544],"typeVersion":1,"alwaysOutputData":true,"webhookId":"5728564b-f59a-490c-b6f1-7f4be50f0e12","credentials":{"githubApi":{"id":"UxuQ8di6bOAXynXP","name":"GitHub account"}}},{"parameters":{"operation":"fromJson","options":{}},"id":"0800ad14-d2ad-4eed-9498-995ffd869fe9","name":"Convert files to JSON","type":"n8n-nodes-base.extractFromFile","position":[2832,544],"typeVersion":1},{"parameters":{"resource":"credential","name":"={{ $json.data.name }}","credentialTypeName":"={{ $json.data.type }}","data":"={{ JSON.stringify($json.data.data) }}","requestOptions":{}},"id":"b0284d90-50b9-435f-9902-bc06370487a4","name":"Restore n8n Credentials","type":"n8n-nodes-base.n8n","position":[2656,816],"typeVersion":1,"credentials":{"n8nApi":{"id":"zxR9TeyqYORXV0Ly","name":"n8n account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"ad031296-4ac0-4087-bc35-7975a2cc25e6","operator":{"type":"object","operation":"empty","singleValue":true},"leftValue":"={{ $json.data }}","rightValue":""},{"id":"ca912a57-6a4b-4b9a-be0e-37b69d3e4917","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.data.name }}","rightValue":"n8n account"},{"id":"f7c08cc3-e796-4451-8b63-cf8fa8a7b530","leftValue":"={{ $json.data.name }}","rightValue":"GitHub account","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"id":"c07b511f-bf66-4be1-b73c-888f1317d4e3","name":"Check for skipped Credentials","type":"n8n-nodes-base.if","position":[2384,800],"typeVersion":2.2},{"parameters":{"content":"https://www.youtube.com/channel/UCIhrU-hkXylBKX8MRaN_2iA/\nBase on bangank36's & agentstudio's work","height":80,"width":320,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2784,1008],"id":"1eb2e37e-9147-48ff-8d57-cc2c01fa0acc","name":"Sticky Note"},{"parameters":{"content":"# KHÔI PHỤC CREDENTIALS TỪ GITHUB","height":80,"width":680},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2336,16],"id":"b84a902e-7af9-42e1-a694-240d33600586","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"063d51c7-0b7a-48a4-82b3-76b370fc4265","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $('Merge Github and n8n workflows - Keep only non existing workflows based on the name').item.json.name }}","rightValue":""}]},"options":{}},"id":"67660b05-6250-4d08-92cb-596c8e106050","name":"If workflow already exists","type":"n8n-nodes-base.if","position":[1664,368],"typeVersion":2},{"parameters":{"assignments":{"assignments":[{"id":"6be8c184-8fb7-47a9-ad42-d0dc3db1eea4","name":"name","type":"string","value":"={{ $json.name }}"}]},"options":{}},"id":"47f46d84-7705-4812-be92-ddb9221cedca","name":"Set n8n existing workflows names","type":"n8n-nodes-base.set","position":[1120,480],"typeVersion":3.3},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"={{$node[\"Globals1\"].json[\"repo\"][\"owner\"]}}"},"repository":{"__rl":true,"mode":"name","value":"={{$node[\"Globals1\"].json[\"repo\"][\"name\"]}}"},"filePath":"={{ $json.repo.path }}"},"id":"003ec681-01e1-4f31-87be-49ff0132cbe2","name":"GitHub - get all files","type":"n8n-nodes-base.github","position":[512,144],"typeVersion":1,"webhookId":"58e87881-1bd0-41ee-a4c3-9cd684981342","credentials":{"githubApi":{"id":"UxuQ8di6bOAXynXP","name":"GitHub account"}}},{"parameters":{"filters":{},"requestOptions":{}},"id":"d05f8c10-f146-4e98-844f-7a61d0c736c5","name":"n8n - get all workflows","type":"n8n-nodes-base.n8n","position":[304,480],"typeVersion":1,"credentials":{"n8nApi":{"id":"zxR9TeyqYORXV0Ly","name":"n8n account"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $json.repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $json.repo.name }}"},"filePath":"={{ $json.path }}","asBinaryProperty":false,"additionalParameters":{}},"id":"dff64d3c-2456-46ee-bd7b-7874d4d76f1a","name":"GitHub - get each file","type":"n8n-nodes-base.github","position":[944,256],"typeVersion":1,"webhookId":"2263f591-2168-4ca3-b0e6-1cc1204ebb2e","credentials":{"githubApi":{"id":"UxuQ8di6bOAXynXP","name":"GitHub account"}}},{"parameters":{"assignments":{"assignments":[{"id":"714b0cfd-9f06-4e2f-b73d-30ef39dc40e3","name":"content","type":"string","value":"={{ $json.content.base64Decode() }}"},{"id":"6f48ed58-d55a-4ee4-8cf2-373941aaa341","name":"name","type":"string","value":"={{ $json.name.replace(\".json\", \"\") }}"}]},"options":{}},"id":"cf04e1f7-f52f-41b3-b6af-c3aa9229083d","name":"Set name and content","type":"n8n-nodes-base.set","position":[1136,256],"typeVersion":3.3},{"parameters":{"operation":"create","workflowObject":"={{ $('Set name and content').item.json.content }}","requestOptions":{}},"id":"8c41adc0-7df8-4064-892e-53be9f266c6a","name":"n8n - create workflow","type":"n8n-nodes-base.n8n","position":[1984,336],"typeVersion":1,"credentials":{"n8nApi":{"id":"zxR9TeyqYORXV0Ly","name":"n8n account"}}},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"3c3e9565-c6cf-467e-81ca-8a1cdc89c415","name":"Merge globals and files","type":"n8n-nodes-base.merge","position":[736,256],"typeVersion":2.1},{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"name","field2":"name"}]},"joinMode":"keepNonMatches","outputDataFrom":"input1","options":{}},"id":"31d54a7a-c0d7-4c64-8d38-4bbc56c8780b","name":"Merge Github and n8n workflows - Keep only non existing workflows based on the name","type":"n8n-nodes-base.merge","position":[1440,368],"typeVersion":2.1,"alwaysOutputData":true},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"vtnguyen04"},{"name":"repo.name","value":"n8n-multisocial"},{"name":"repo.path","value":"workflows"}]},"options":{}},"id":"55d1b3cd-a93c-4281-9028-1686e6c09ff8","name":"Globals1","type":"n8n-nodes-base.set","position":[304,288],"typeVersion":1},{"parameters":{"rule":{"interval":[{"field":"months"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-96,384],"id":"0c683e99-4252-48c4-a000-f8392173347d","name":"Schedule Trigger"},{"parameters":{"content":"# KHÔI PHỤC WORKFLOW TỪ GITHUB","height":80,"width":640},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[512,16],"id":"1514795a-2f34-437d-9775-874489f59456","name":"Sticky Note2"},{"parameters":{"content":"## Edit this node 👇\nrepo.owner = id github count\nrepo.name = github repo name","height":100,"width":310,"color":4},"id":"baad4663-3bd2-43e4-b3a7-795a343f50b1","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[112,160],"typeVersion":1,"disabled":true}],"connections":{"Globals":{"main":[[{"node":"Get all files in given path","type":"main","index":0}]]},"Split the result":{"main":[[{"node":"Get file content from GitHub","type":"main","index":0}]]},"Convert files to JSON":{"main":[[{"node":"Check for skipped Credentials","type":"main","index":0}]]},"Get all files in given path":{"main":[[{"node":"Split the result","type":"main","index":0}]]},"Get file content from GitHub":{"main":[[{"node":"Convert files to JSON","type":"main","index":0}]]},"Check for skipped Credentials":{"main":[[],[{"node":"Restore n8n Credentials","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Set name and content":{"main":[[{"node":"Merge Github and n8n workflows - Keep only non existing workflows based on the name","type":"main","index":0}]]},"GitHub - get all files":{"main":[[{"node":"Merge globals and files","type":"main","index":0}]]},"GitHub - get each file":{"main":[[{"node":"Set name and content","type":"main","index":0}]]},"Merge globals and files":{"main":[[{"node":"GitHub - get each file","type":"main","index":0}]]},"n8n - get all workflows":{"main":[[{"node":"Set n8n existing workflows names","type":"main","index":0}]]},"If workflow already exists":{"main":[[{"node":"n8n - create workflow","type":"main","index":0}]]},"Set n8n existing workflows names":{"main":[[{"node":"Merge Github and n8n workflows - Keep only non existing workflows based on the name","type":"main","index":1}]]},"Merge Github and n8n workflows - Keep only non existing workflows based on the name":{"main":[[{"node":"If workflow already exists","type":"main","index":0}]]},"Globals1":{"main":[[{"node":"GitHub - get all files","type":"main","index":0},{"node":"Merge globals and files","type":"main","index":1}]]},"Schedule Trigger":{"main":[[{"node":"Globals1","type":"main","index":0},{"node":"n8n - get all workflows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2e75a6fc-a71d-4221-a43d-8cb200448e6f","triggerCount":0,"shared":[{"createdAt":"2025-10-07T03:58:17.810Z","updatedAt":"2025-10-07T03:58:17.810Z","role":"workflow:owner","workflowId":"Pg6iZa6zV5y1RdHb","projectId":"9HJZe2ZyF9KLloKH"}],"tags":[]}