workflows/PostFacebook.json
{"createdAt":"2025-10-05T07:11:55.402Z","updatedAt":"2025-10-07T03:07:37.000Z","id":"ZOoqmJUlJW8VgAeM","name":"PostFacebook","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8},{"triggerAtHour":20}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-384,-112],"id":"c97fc88a-b2f7-4c27-b952-16d537c7cba9","name":"FB news LC"},{"parameters":{"rule":{"interval":[{"triggerAtHour":9},{"triggerAtHour":21}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-384,80],"id":"4ea505ba-4152-4a34-9684-dd2d69a11aeb","name":"FB AI news LC"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 16 * * 2,6"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-384,464],"id":"5d8db2d0-c748-4234-8c42-36659e2141bc","name":"FB Analysis LC"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 16 * * 1,4"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-384,272],"id":"5acd89b1-2f92-48a7-b630-cf8b7178b38d","name":"FB Analysis AI LC"},{"parameters":{"documentId":{"__rl":true,"value":"1fTKz8sabXOio65TmoqctZUDCtVR8hj8_zEXsJ_o_zVA","mode":"list","cachedResultName":"Multimedia Content","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fTKz8sabXOio65TmoqctZUDCtVR8hj8_zEXsJ_o_zVA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fTKz8sabXOio65TmoqctZUDCtVR8hj8_zEXsJ_o_zVA/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"FB status","lookupValue":"pending"},{"lookupColumn":"Bài viết từ kênh","lookupValue":"News"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-160,-112],"id":"884e41fe-8cdd-4ec8-9432-047ccbea1dd0","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"WprQcr8lVOW0rgT7","name":"LC sheet"}}},{"parameters":{"documentId":{"__rl":true,"value":"1fTKz8sabXOio65TmoqctZUDCtVR8hj8_zEXsJ_o_zVA","mode":"list","cachedResultName":"Multimedia Content","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fTKz8sabXOio65TmoqctZUDCtVR8hj8_zEXsJ_o_zVA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fTKz8sabXOio65TmoqctZUDCtVR8hj8_zEXsJ_o_zVA/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Bài viết từ kênh","lookupValue":"AI news"},{"lookupColumn":"FB status","lookupValue":"pending"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-160,176],"id":"f7b260ae-1699-4e80-9532-61e17943ccac","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"WprQcr8lVOW0rgT7","name":"LC sheet"}}},{"parameters":{"documentId":{"__rl":true,"value":"1fTKz8sabXOio65TmoqctZUDCtVR8hj8_zEXsJ_o_zVA","mode":"list","cachedResultName":"Multimedia Content","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fTKz8sabXOio65TmoqctZUDCtVR8hj8_zEXsJ_o_zVA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fTKz8sabXOio65TmoqctZUDCtVR8hj8_zEXsJ_o_zVA/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Bài viết từ kênh","lookupValue":"Analysis"},{"lookupColumn":"FB status","lookupValue":"pending"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-160,464],"id":"95a84986-97eb-476a-af1d-d8659126689e","name":"Get row(s) in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"WprQcr8lVOW0rgT7","name":"LC sheet"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1e149af3-39b4-4caf-800e-f1ad70612925","leftValue":"={{ $json.category }}","rightValue":"news","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[288,-32],"id":"1af14c57-78c2-49d8-9bfb-ceb1620a3f92","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"d28cf415-91e3-46c1-ae03-ddeb15a28160","name":"prompt","value":"=Bạn là **Content Writer Gen Z của Learning Chain**, có nhiệm vụ cung cấp tin tức nhanh, lôi cuốn, nhưng vẫn có góc nhìn thẳng thắn, **thân mật** với người đọc. *   **Phong cách:** Thân thiện, gần gũi (như nói chuyện với \"anh em\"), sử dụng icon hợp lý, tốc độ nhanh. Ngôn ngữ **hoàn toàn tự nhiên**, không dùng biệt ngữ AI/GPT, đảm bảo chất lượng Human-like. *   **Mục tiêu:** Cung cấp thông tin kịp thời và duy trì sự tương tác cao.  ## 2. Đặc tả Cấu trúc Output (Caption & Title for Thumbnail) Output phải tuân thủ nghiêm ngặt cấu trúc sau. TUYỆT ĐỐI KHÔNG SỬ DỤNG HTML.  ### A. Title (Dành cho Thumbnail Image - GẮN LÊN ẢNH) *   **Định dạng:** **2 dòng riêng biệt.**     *   **Dòng 1 (Tóm tắt):** Câu tóm tắt/Giật tít ngắn gọn (Tối đa 7 từ). PHẢI HẤP DẪN.     *   **Dòng 2 (Câu hỏi):** Câu hỏi mở, gợi mở tư duy hoặc góc nhìn (Không quá 12 từ).  ### B. Facebook Caption (Tin Tức Nhanh) *   **Cấu trúc:** Phải có 3-4 đoạn rõ ràng (Phân tách bằng 2 ký tự xuống dòng `\\n\\n`).     1.  **Tiêu đề Hấp dẫn (1 dòng):** Sử dụng Icon (ví dụ: 🔥, 💡).     2.  **Tóm tắt Tin tức Nhanh:** Chắt lọc nhanh các điểm chính từ RAW_CONTENT (sử dụng ngôn ngữ thân mật \"anh em\").     3.  **Góc nhìn Learning Chain:** Đưa ra 1-2 câu nhận xét/góc nhìn ngắn **mang tính chất cá nhân** (ví dụ: \"Điều này cho thấy...\", \"Theo mình thì...\").     4.  **CTA & Hashtag:** Câu hỏi thân thiện, khuyến khích thảo luận **(DUY NHẤT 1 câu hỏi)**. Sử dụng **TỐI ĐA 5 Hashtag** (bao gồm #learningchain và phải ở 1 dòng riêng biệt cuối cùng). *   **Độ dài:** Tổng bài viết ** NGẮN**, không quá 500 từ.  ## 3. Dữ liệu Đầu vào (Input Variables)  ### RAW_CONTENT {{ $json['nội dung raw '] }}\n\noutput tuân theo json:\n\n{\n  \"content\": \"nội dung bài đăng\",\n  \"top\": \"title top\",\n  \"bottom\": \"tittle bottom\"\n}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,-128],"id":"7494f51e-550e-47a5-af89-22aedbe92891","name":"prompt_news"},{"parameters":{"assignments":{"assignments":[{"id":"5f28bfa3-0c0e-4a9b-b5ce-5e5eb5e92631","name":"prompt","value":"=Bạn là **Chuyên gia Phân tích Cấp cao của Learning Chain** (Công ty truyền thông & giáo dục về AI/Crypto). Nhiệm vụ của bạn là biến nội dung thô (RAW_CONTENT) thành một bài phân tích chuyên sâu, có góc nhìn, nhận định riêng, mang tính giáo dục và tư duy. *   **Phong cách:** Chuyên nghiệp, sắc sảo, có tính thuyết phục cao. Ngôn ngữ **hoàn toàn tự nhiên**, không dùng biệ\nt ngữ AI/GPT, đảm bảo người đọc không thể phân biệt được AI hay người viết (Human-like Quality). *   **Mục tiêu:** Định vị Learning Chain là nguồn kiến thức đáng tin cậy.  ## 2. Đặc tả Cấu trúc Output (Caption & Title for Thumbnail) Output phải tuân thủ nghiêm ngặt cấu trúc sau. TUYỆT ĐỐI KHÔNG SỬ DỤNG HTML.  ### A. Title (Dành cho Thumbnail Image - GẮN LÊN ẢNH) *   **Định dạng:** **2 dòng riêng biệt.**     *   **Dòng 1 (Tóm tắt):** Câu tóm tắt/Giật tít ngắn gọn (Tối đa 7 từ). PHẢI HẤP DẪN.     *   **Dòng 2 (Câu hỏi):** Câu hỏi mở, gợi mở tư duy hoặc góc nhìn (Không quá 15 từ).  ### B. Facebook Caption (Phân tích Chuyên sâu) *   **Cấu trúc:** Phải có 4 phần rõ ràng (Phân tách bằng 2 ký tự xuống dòng `\\n\\n`).     1.  **Mở bài:** Đặt vấn đề, giới thiệu chủ đề một cách thu hút.     2.  **Phân tích/Nhận định Sâu:** Trình bày các ý chính từ RAW_CONTENT và **lồng ghép nhận định/bài học tư duy** của Learning Chain.     3.  **Hành động/Bài học:** Kết luận về ý nghĩa, bài học rút ra, hoặc dự báo dài hạn.     4.  **CTA & Hashtag:** Câu hỏi thân thiện, khuyến khích thảo luận **(DUY NHẤT 1 câu hỏi)**. Sử dụng **TỐI ĐA 5 Hashtag** (bao gồm #learningchain và phải ở 1 dòng riêng biệt cuối cùng). *   **Độ dài:** Tổng bài viết không quá 800 từ (Ưu tiên 400-600 từ).  ## 3. Dữ liệu Đầu vào (Input Variables)  ### RAW_CONTENT### RAW_CONTENT {{ $json['nội dung raw '] }} \n\noutput tuân theo json:  \n{   \n\"content\": \"nội dung bài đăng lưu ý 1 bài đăng hoàn chỉnh, sẵn sàng đăng lập tức, tránh các nhãn nội bộ như CTA & Hashtag, mở bài, thân bài , v.v\",   \n\"top\": \"title top\",   \n\"bottom\": \"tittle bottom\" \n}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,112],"id":"0450a77b-5097-4814-aa59-e93cf64611f3","name":"prompt_analysis"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[800,96],"id":"034a0526-c767-40ce-b48f-f579ae42912a","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"fusjifoCPA1JwyYW","name":"302"}}},{"parameters":{"schemaType":"manual","inputSchema":"\n{\n  \"content\": \"nội dung bài đăng\",\n  \"top\": \"title top\",\n  \"bottom\": \"tittle bottom\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[928,96],"id":"256f3b70-d83f-4938-8b97-ef76fc500708","name":"Structured Output Parser"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"529663a1-a98c-43fa-a4b5-853539162c8c","leftValue":"={{ $('lọc dữ liệu').item.json.field }}","rightValue":"crypto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1424,176],"id":"ef5a16f9-35eb-423f-abfa-beda4340ab47","name":"If1"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1AQ6ldv0L74He_7S7uvHmzbD0LSsN9y9b","mode":"list","cachedResultName":"fb.jpg","cachedResultUrl":"https://drive.google.com/file/d/1AQ6ldv0L74He_7S7uvHmzbD0LSsN9y9b/view?usp=drivesdk"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1648,80],"id":"dc0ff672-75b3-4dc8-85cb-b29b1d8e9a50","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"K8L54dKYg8Domgbg","name":"LC Drive"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1200,176],"id":"fadc03c4-5efb-4174-aecf-2aee8af9d794","name":"Merge"},{"parameters":{"language":"python","pythonCode":"\nimport os\nimport sys\nimport json\nimport re\nfrom datetime import datetime\ntry:\n    from zoneinfo import ZoneInfo\n    tz = ZoneInfo(\"Asia/Ho_Chi_Minh\")\nexcept Exception:\n    try:\n        import pytz\n        tz = pytz.timezone(\"Asia/Ho_Chi_Minh\")\n    except Exception:\n        tz = None  # will use system localtime\n\ninput = _input.all()[-1]\n\ndef vn_weekday_name(dt):\n    wd = dt.weekday() \n    mapping = {\n        0: \"Thứ 2\",\n        1: \"Thứ 3\",\n        2: \"Thứ 4\",\n        3: \"Thứ 5\",\n        4: \"Thứ 6\",\n        5: \"Thứ 7\",\n        6: \"Chủ nhật\"\n    }\n    return mapping.get(wd, \"\")\n\ndef format_vn_datetime(dt):\n\n    day_name = vn_weekday_name(dt)\n    d = dt.day\n    m = dt.month\n    y = dt.year\n    date_str = f\"{d}/{m}/{y}\"\n    return f\"{day_name}, {date_str}\"\n\ndef detect_topic_pair(title):\n    \"\"\"\n    Trả về dict: {\"category\": ..., \"topic\": ...}\n    - category: \"news\" | \"analysis\" | \"other\"   (ưu tiên)\n    - topic: \"ai\" | \"crypto\"\n    \"\"\"\n    if not title:\n        return {\"category\": \"other\", \"topic\": \"crypto\"}\n\n    txt = title.lower()\n\n    # Word-boundary checks (primary)\n    has_news = bool(re.search(r'(?<!\\w)news(?!\\w)', txt, flags=re.IGNORECASE))\n    has_analysis = bool(re.search(r'(?<!\\w)analysis(?!\\w)', txt, flags=re.IGNORECASE))\n    has_ai = bool(re.search(r'(?<!\\w)ai(?!\\w)', txt, flags=re.IGNORECASE))\n\n    # Fallback substring checks (looser) if word-boundary didn't match\n    if not has_news and \"news\" in txt:\n        has_news = True\n    if not has_analysis and \"analysis\" in txt:\n        has_analysis = True\n    if not has_ai and \"ai\" in txt:\n        has_ai = True\n\n    # category priority: news -> analysis -> other\n    if has_news:\n        category = \"news\"\n    elif has_analysis:\n        category = \"analysis\"\n    else:\n        category = \"other\"\n\n    # topic: ai if ai present, else crypto\n    topic = \"ai\" if has_ai else \"crypto\"\n\n    return category, topic\n\ndef now_with_tz():\n    if tz:\n        try:\n            return datetime.now(tz)\n        except Exception:\n            return datetime.now()\n    else:\n        return datetime.now()\n\ntitle = input.json[\"Bài viết từ kênh\"]\ndt = now_with_tz()\ndate_display = format_vn_datetime(dt)\ncategory, topic = detect_topic_pair(title)\n\ninput.json.datetime_vn = date_display\ninput.json.field = topic\ninput.json.category = category\nreturn input"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[64,176],"id":"f3de9c0d-0faf-406e-bbd3-399333f529d1","name":"lọc dữ liệu"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v23.0","node":"me","edge":"photos","options":{"queryParameters":{"parameter":[{"name":"message","value":"={{ $('tạo content cuối cùng').item.json.output.content }}"},{"name":"url","value":"={{ $json.image_url }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[2096,176],"id":"9070a66d-e960-4d89-86d1-50669dc6d919","name":"Learning chain vietnam","credentials":{"facebookGraphApi":{"id":"4sCYPtE2NEsiGaxh","name":"Learning Chain VN"}}},{"parameters":{"template_id":{"__rl":true,"value":"nkjllkaujfdbw","mode":"list","cachedResultName":"FB AI"},"layers":{"layerItems":[{"layerId":"main_image|picture","property":"image","imageValue":"={{ $json.data.task_result.images[0].url }}"},{"layerId":"time|text","property":"text","textValue":"={{ $('lọc dữ liệu').item.json.datetime_vn }}"},{"layerId":"thumbnail_top|text","valueValue":"={{ $('tạo content cuối cùng').item.json.output.top }}"},{"layerId":"thumbnail_bottom|text","valueValue":"={{ $('tạo content cuối cùng').item.json.output.bottom }}"}]},"additionalFields":{}},"type":"n8n-nodes-placid.placid","typeVersion":1,"position":[1872,368],"id":"e5faa08e-ab19-470f-9a80-0caa0ad69c3f","name":"AI","credentials":{"placidApi":{"id":"Das3NQOQwug7a87L","name":"Placid account"}}},{"parameters":{"template_id":{"__rl":true,"value":"nkjllkaujfdbw","mode":"list","cachedResultName":"FB AI"},"layers":{"layerItems":[{"layerId":"New picture layer|picture","property":"imageBinary","imageBinaryValue":"data"},{"layerId":"main_image|picture","property":"image","imageValue":"={{ $json.data.task_result.images[0].url }}"},{"layerId":"time|text","property":"text","textValue":"={{ $('lọc dữ liệu').item.json.datetime_vn }}"},{"layerId":"thumbnail_bottom|text","property":"text","textValue":"={{ $('tạo content cuối cùng').item.json.output.bottom }}"},{"layerId":"thumbnail_top|text","property":"text","textValue":"={{ $('tạo content cuối cùng').item.json.output.top }}"}]},"additionalFields":{}},"type":"n8n-nodes-placid.placid","typeVersion":1,"position":[1872,80],"id":"347b6123-d5a6-4fc4-bcd5-6a5d637eeac3","name":"Crypto","credentials":{"placidApi":{"id":"Das3NQOQwug7a87L","name":"Placid account"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v23.0","node":"me","edge":"photos","options":{"queryParameters":{"parameter":[{"name":"message","value":"={{ $('tạo content cuối cùng').item.json.output.content }}"},{"name":"url","value":"={{ $json.image_url }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[2096,-16],"id":"1c65c9fb-cefc-4477-8f84-47e6bc805a52","name":"Learning chain academy","credentials":{"facebookGraphApi":{"id":"Wr3J8kQWBcXwKIGe","name":"Learning Chain Academy"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v23.0","node":"me","edge":"photos","options":{"queryParameters":{"parameter":[{"name":"message","value":"={{ $('tạo content cuối cùng').item.json.output.content }}"},{"name":"url","value":"={{ $json.image_url }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[2096,368],"id":"a3dfbb7f-c72f-4cb0-bb11-9ce8fdd8edf7","name":"Học viện LC","credentials":{"facebookGraphApi":{"id":"plpgD5EhWoRAT4vE","name":"Học Viện Learning Chain"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1fTKz8sabXOio65TmoqctZUDCtVR8hj8_zEXsJ_o_zVA","mode":"list","cachedResultName":"Multimedia Content","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fTKz8sabXOio65TmoqctZUDCtVR8hj8_zEXsJ_o_zVA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fTKz8sabXOio65TmoqctZUDCtVR8hj8_zEXsJ_o_zVA/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('lọc dữ liệu').item.json.row_number }}","FB status":"done"},"matchingColumns":["row_number"],"schema":[{"id":"Bài viết từ kênh","displayName":"Bài viết từ kênh","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Tittle bài viết gốc","displayName":"Tittle bài viết gốc","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Link bài viết gốc","displayName":"Link bài viết gốc","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Tittle bài viết mới","displayName":"Tittle bài viết mới","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nội dung raw ","displayName":"nội dung raw ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"meta_description","displayName":"meta_description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"suggest tags","displayName":"suggest tags","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"key_word","displayName":"key_word","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"slug","displayName":"slug","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thumbnail_url","displayName":"thumbnail_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nội dung bài viết mới (HTML)","displayName":"Nội dung bài viết mới (HTML)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"tele status","displayName":"tele status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"FB status","displayName":"FB status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Web status","displayName":"Web status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Web link","displayName":"Web link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2320,272],"id":"85e1a18b-0ae9-4ac4-bf15-439124c16a91","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"WprQcr8lVOW0rgT7","name":"LC sheet"}}},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[800,-128],"id":"ba24883f-08b2-4dcc-8b44-a86d613d3dba","name":"tạo content cuối cùng"},{"parameters":{"promptType":"define","text":"=# Prompt Tối Ưu cho AI Agent: Quyết Định Tool & Trả về URL Ảnh Cuối Cùng (Simplified)\n\n## 1. Vai Trò và Mục tiêu (Role & Persona)\nBạn là **Trưởng nhóm Content Strategist Agent** của Learning Chain. Nhiệm vụ duy nhất và cuối cùng của bạn là cung cấp **DUY NHẤT 1 URL** của hình ảnh tối ưu nhất để minh họa cho RAW_CONTENT. Bạn phải quyết định sử dụng 1 trong 2 công cụ có sẵn:\n1.  **'Run an Actor and get dataset in Apify' (Apify Crawl):** Để tìm kiếm (Crawl) hình ảnh thực tế, liên quan đến người, tổ chức, hoặc sự kiện có thật.\n2.  **'Call 'tạo ảnh'' Tool (Generate):** Để tạo hình ảnh mới, phù hợp với các khái niệm trừu tượng, phân tích thị trường, v.v.\n\n## 2. Quy Tắc Quyết Định Công Cụ (Conditional Tool Use - Simplified)\n1.  **Sử dụng Apify Crawl:** Nếu RAW_CONTENT đề cập đến **tên người cụ thể, tổ chức, hoặc tin tức/sự kiện thực tế** cần hình ảnh minh họa chân thực.\n    *   **Tool Input:** Bạn phải tạo một **Input JSON** (chuẩn cho Apify Actor Google Images Scraper) chứa **5 Query tìm kiếm hình ảnh tốt nhất** (Tiếng Anh, chính xác, không trùng lặp) để tối đa hóa độ liên quan.\n2.  **Sử dụng 'Call 'tạo ảnh'' (Generate):** Nếu RAW_CONTENT đề cập đến **khái niệm trừu tượng, dự báo thị trường, chiến lược, hoặc phân tích vĩ mô** không dễ tìm thấy hình ảnh minh họa thực tế.\n    *   **Tool Input:** Bạn chỉ cần truyền trực tiếp `RAW_CONTENT` vào Tool. (Tool tự xử lý Prompt Sinh Ảnh).\n\n## 3. Quy Trình và Ràng Buộc Đầu ra (Final Output Constraint)\n1.  **Thực thi:** Bạn **phải chọn và sử dụng DUY NHẤT 1 trong 2 Tool** để hoàn thành nhiệm vụ.\n2.  **Đầu ra cuối cùng:** BẮT BUỘC phải là **DUY NHẤT một URL ảnh hợp lệ** được trả về từ Tool bạn chọn.\n3.  **Loại trừ:** Tuyệt đối **không giải thích, không văn bản bổ sung, không JSON/HTML**. Chỉ trả về URL.\n\n## 4. Dữ liệu Đầu vào (Input Variables)\n\n### RAW_CONTENT\n\n{{ $json['nội dung raw '] }}\n\n## 5. Lệnh Thực thi\nPhân tích RAW_CONTENT. Quyết định sử dụng **Chuỗi Apify** hay **'Call 'tạo ảnh'** Tool, thực thi Tool đó, và **trả về URL ảnh cuối cùng**.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1312,-544],"id":"65d8e37c-6022-4fc0-a058-1ba6711c307a","name":"phân tích chiến lược tạo ảnh"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"url\": \"url ảnh hợp lí nhất\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1584,-288],"id":"86e1571c-f9a0-45b8-9e0c-5a85928ea124","name":"Structured Output Parser1"},{"parameters":{"description":"Call this tool when you want to create image, input is raw_content","workflowId":{"__rl":true,"value":"EPr0W7oxcZgcbD4v","mode":"list","cachedResultUrl":"/workflow/EPr0W7oxcZgcbD4v","cachedResultName":"tạo ảnh"},"workflowInputs":{"mappingMode":"defineBelow","value":{"raw_content":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('raw_content', ``, 'string') }}","model_name":"kling-v2"},"matchingColumns":[],"schema":[{"id":"raw_content","displayName":"raw_content","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"model_name","displayName":"model_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1408,-288],"id":"67d9fe03-2aa5-4c47-8ecc-8d05cc9cf798","name":"Call 'tạo ảnh'"},{"parameters":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[1280,-288],"id":"c789bbee-5c1b-4473-9122-e338ab8a7ddd","name":"Search in Tavily","credentials":{"tavilyApi":{"id":"uzYvO5Q8ciapV5q5","name":"Tavily account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"EPr0W7oxcZgcbD4v","mode":"list","cachedResultUrl":"/workflow/EPr0W7oxcZgcbD4v","cachedResultName":"tạo ảnh"},"workflowInputs":{"mappingMode":"defineBelow","value":{"raw_content":"={{ $json['nội dung raw '] }}","model_name":"kling-v2"},"matchingColumns":[],"schema":[{"id":"raw_content","displayName":"raw_content","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"model_name","displayName":"model_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[576,352],"id":"ea74adf0-055b-47e0-9701-9fd714f9dc95","name":"Call 'tạo ảnh'1"}],"connections":{"FB news LC":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"FB AI news LC":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"FB Analysis AI LC":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"FB Analysis LC":{"main":[[{"node":"Get row(s) in sheet3","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"lọc dữ liệu","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"lọc dữ liệu","type":"main","index":0}]]},"Get row(s) in sheet3":{"main":[[{"node":"lọc dữ liệu","type":"main","index":0}]]},"If":{"main":[[{"node":"prompt_news","type":"main","index":0}],[{"node":"prompt_analysis","type":"main","index":0}]]},"prompt_news":{"main":[[{"node":"tạo content cuối cùng","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"tạo content cuối cùng","type":"ai_languageModel","index":0}]]},"prompt_analysis":{"main":[[{"node":"tạo content cuối cùng","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"tạo content cuối cùng","type":"ai_outputParser","index":0}]]},"If1":{"main":[[{"node":"Download file","type":"main","index":0}],[{"node":"AI","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Merge":{"main":[[{"node":"If1","type":"main","index":0}]]},"lọc dữ liệu":{"main":[[{"node":"If","type":"main","index":0},{"node":"Call 'tạo ảnh'1","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"Learning chain academy","type":"main","index":0},{"node":"Learning chain vietnam","type":"main","index":0}]]},"AI":{"main":[[{"node":"Học viện LC","type":"main","index":0}]]},"Learning chain vietnam":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Học viện LC":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"tạo content cuối cùng":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"phân tích chiến lược tạo ảnh","type":"ai_outputParser","index":0}]]},"Call 'tạo ảnh'":{"ai_tool":[[{"node":"phân tích chiến lược tạo ảnh","type":"ai_tool","index":0}]]},"Search in Tavily":{"ai_tool":[[{"node":"phân tích chiến lược tạo ảnh","type":"ai_tool","index":0}]]},"Call 'tạo ảnh'1":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:FB news LC":{"recurrenceRules":[]},"node:FB AI news LC":{"recurrenceRules":[]},"node:FB Analysis LC":{"recurrenceRules":[]},"node:FB Analysis AI LC":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"73055cc8-c0f1-4697-a494-a8ae48462576","triggerCount":4,"shared":[{"createdAt":"2025-10-05T07:11:55.404Z","updatedAt":"2025-10-05T07:11:55.404Z","role":"workflow:owner","workflowId":"ZOoqmJUlJW8VgAeM","projectId":"9HJZe2ZyF9KLloKH"}],"tags":[]}