workflows/post bài lên tele.json
{"createdAt":"2025-10-05T03:59:42.294Z","updatedAt":"2025-10-06T06:13:10.000Z","id":"ahUhgvmblpP1fHQt","name":"post bài lên tele","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-608,272],"id":"c85c5230-38eb-42fc-b797-ffe733c4abc8","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1fTKz8sabXOio65TmoqctZUDCtVR8hj8_zEXsJ_o_zVA","mode":"list","cachedResultName":"Multimedia Content","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fTKz8sabXOio65TmoqctZUDCtVR8hj8_zEXsJ_o_zVA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fTKz8sabXOio65TmoqctZUDCtVR8hj8_zEXsJ_o_zVA/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"tele status","lookupValue":"pending"},{"lookupColumn":"Web status","lookupValue":"done"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-384,272],"id":"b637e79d-fcd0-4065-965c-1cb212901211","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"WprQcr8lVOW0rgT7","name":"LC sheet"}}},{"parameters":{"language":"python","pythonCode":"return _input.all()[-1]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,272],"id":"3774f74c-1e0a-41fc-a5ab-bf0b9635daf6","name":"get last item"},{"parameters":{"promptType":"define","text":"=# Tối Ưu Hóa Output cho Content Marketing Telegram (Gạch dưới Tiêu đề & Giới hạn Hashtag)\n\n## 1. Vai Trò và Chuyên Môn (Role & Persona)\nBạn là một **Chuyên gia Content Marketing Telegram hàng đầu** với kinh nghiệm chuyên sâu trong lĩnh vực tài chính, công nghệ và blockchain. Bạn có khả năng chuyển đổi nội dung thô (RAW_CONTENT) thành các bài đăng SSM **cực kỳ súc tích** (tin nhanh), được tối ưu hóa hoàn hảo cho Telegram, và tuân thủ định dạng *nghiêm ngặt* của khách hàng.\n\n## 2. Nhiệm Vụ Cốt Lõi (Core Task)\nPhân tích RAW_CONTENT, chắt lọc **DUY NHẤT** các ý chính. Viết lại bài đăng Telegram SSM theo phong cách thân mật, tuân thủ **NGHIÊM NGẶT** quy tắc **Telegram-Compatible HTML**, giới hạn 2-3 đoạn văn chính, **gạch dưới tiêu đề** và **giới hạn số lượng hashtag**.\n\n## 3. Các Ràng Buộc Nghiêm Ngặt (Strict Constraints & Style Guide)\n1.  **Ngôn ngữ và Phong cách:** Bắt buộc sử dụng giọng điệu **thân mật, gần gũi như \"anh em\"** (bạn bè), tạo cảm giác hào hứng và tò mò.\n2.  **Cấu trúc Độ dài:**\n    *   Phần tóm tắt/phân tích nội dung chính **BẮT BUỘC** chỉ gồm **2 đến tối đa 3 đoạn văn** (paragraphs).\n    *   Tổng số từ trong bài viết (trừ phần liên kết) **không được vượt quá 800 từ** (Mục tiêu là dưới 300 từ).\n3.  **Telegram HTML Safety (QUAN TRỌNG NHẤT):**\n    *   **Chỉ sử dụng các thẻ HTML sau:** `<b>` (Bold), `<i>` (Italic), `<a>` (Link), và **`<u>` (Underline) cho tiêu đề**.\n    *   **TUYỆT ĐỐI CẤM sử dụng các thẻ HTML khác:** `<div>`, `<p>`, `<br>`, `<span>`, `<h1>`...\n    *   **Xuống dòng (Paragraph Break):** Thay thế bằng ký tự xuống dòng kép (`\\n\\n`).\n4.  **Giới hạn Hashtag (RÀNG BUỘC MỚI):** **TỐI ĐA 4 HASHTAG** (Bao gồm cả `#learningchain`).\n\n## 4. Đặc tả Cấu trúc Output (Telegram-Compatible HTML)\nOutput BẮT BUỘC phải là **định dạng HTML** và tuân thủ cấu trúc dưới đây:\n\n### 4.1. Cấu Trúc Bài Viết:\n\n| Phần | Yêu cầu Kỹ thuật | Ghi chú |\n| :--- | :--- | :--- |\n| **Tiêu đề** | Icon Unicode + **`<b><u>...</u></b>`** | Phải ngắn, giật tít, có Icon (nếu phù hợp). |\n| **Phần Thân bài (2-3 đoạn)** | **2-3 đoạn văn** phân tách bằng `\\n\\n`. **Bold** (`<b>`) các keyword, tên dự án, ý chính. | Nội dung cực kỳ cô đọng. |\n| **CTA (Call to Action)** | Phân đoạn bằng `\\n\\n`. Phải là một câu hỏi **mở** và **thân thiện**. | Chỉ một câu hỏi duy nhất. |\n| **Phần Chân bài (Footer)** | Phân đoạn bằng `\\n\\n`. **Tuyệt đối không bỏ sót** Link gốc, Hashtag và Link Social. | Phải tuân thủ chính xác cấu trúc 3 dòng riêng biệt. |\n\n### 4.2. Chi Tiết Footer (NGHIÊM NGẶT):\n*   **Dòng 1 (Link gốc):** `<a href=\"ORIGINAL_URL\">Xem chi tiết tại đây</a>`\n*   **Dòng 2 (Social):** `— Theo dõi Learning Chain tại: <a href=\"SOCIAL_LINKS.website\">Website</a> | <a href=\"SOCIAL_LINKS.facebook\">Facebook</a> | <a href=\"SOCIAL_LINKS.youtube\">YouTube</a>`\n*   **Dòng 3 (Hashtag):** **Tối đa 4 Hashtag** (gồm cả `#learningchain`) được đặt ở dòng này.\n\n## 5. Dữ liệu Đầu vào (Input Variables)\n\n### RAW_CONTENT\n{{ $json['nội dung raw '] }}\n\nORIGINAL_URL\n{{ $json['Web link'] }}\n\nSOCIAL_LINKS\n\n{\n    \"website\": \"https://learningchain.vn\",\n    \"facebook\": \"https://www.facebook.com/learningchainhcmc\",\n    \"youtube\": \"https://www.youtube.com/@LearningChainOfficial\"\n}","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[64,16],"id":"a51a05ee-b3e8-4fae-97a0-bc44ca684a6a","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[144,240],"id":"b9d268ec-df47-42ee-93e3-5d56db80be4b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"fusjifoCPA1JwyYW","name":"302"}}},{"parameters":{"url":"={{ $json.thumbnail_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,416],"id":"b26d65bf-e2b5-41ef-ae49-cbc1513cca59","name":"HTTP Request"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[416,272],"id":"f073acd1-341d-4d51-a997-4aafd253c2f8","name":"Merge"},{"parameters":{"operation":"sendPhoto","chatId":"@Learningchainvn","binaryData":true,"additionalFields":{"caption":"={{ $json.text }}","parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[640,272],"id":"4f9f4226-cbd9-48b7-aadd-1be362c597a2","name":"Send a photo message","webhookId":"ef1abbfb-adb2-41c5-ba28-9ddefdacef37","credentials":{"telegramApi":{"id":"gzJLl0AgqajOImiR","name":"Telegram CryptoAgent"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-208,-32],"id":"5f4d210f-69e5-493d-8402-3aeb2cc60478","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"i7iQSCUqEeU296O0","name":"gemini1"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1fTKz8sabXOio65TmoqctZUDCtVR8hj8_zEXsJ_o_zVA","mode":"list","cachedResultName":"Multimedia Content","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fTKz8sabXOio65TmoqctZUDCtVR8hj8_zEXsJ_o_zVA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fTKz8sabXOio65TmoqctZUDCtVR8hj8_zEXsJ_o_zVA/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('get last item').item.json.row_number }}","tele status":"done"},"matchingColumns":["row_number"],"schema":[{"id":"Bài viết từ kênh","displayName":"Bài viết từ kênh","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Tittle bài viết gốc","displayName":"Tittle bài viết gốc","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Link bài viết gốc","displayName":"Link bài viết gốc","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Tittle bài viết mới","displayName":"Tittle bài viết mới","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nội dung raw ","displayName":"nội dung raw ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"meta_description","displayName":"meta_description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"suggest tags","displayName":"suggest tags","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"key_word","displayName":"key_word","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"slug","displayName":"slug","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thumbnail_url","displayName":"thumbnail_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nội dung bài viết mới (HTML)","displayName":"Nội dung bài viết mới (HTML)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"tele status","displayName":"tele status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FB status","displayName":"FB status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Web status","displayName":"Web status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Web link","displayName":"Web link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[864,272],"id":"7f61dc3c-1776-43b4-b2d6-db83a9a46b69","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"WprQcr8lVOW0rgT7","name":"LC sheet"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"get last item","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"get last item":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Merge","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Send a photo message","type":"main","index":0}]]},"Send a photo message":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[9]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e2cc607f-5c83-4d27-8e70-a10754de30ab","triggerCount":1,"shared":[{"createdAt":"2025-10-05T03:59:42.296Z","updatedAt":"2025-10-05T03:59:42.296Z","role":"workflow:owner","workflowId":"ahUhgvmblpP1fHQt","projectId":"9HJZe2ZyF9KLloKH"}],"tags":[]}