workflows/tạo ảnh.json
{"createdAt":"2025-10-05T09:43:05.538Z","updatedAt":"2025-10-05T11:00:57.000Z","id":"EPr0W7oxcZgcbD4v","name":"tạo ảnh","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.302.ai/klingai/v1/images/generations","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"model_name\": \"{{ $('execute').first().json.model_name }}\",\n    \"prompt\": \"{{$json.text}}\",\n    \"aspect_ratio\": \"16:9\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,48],"id":"13b1e697-a21a-48a3-848a-6e05b8ffd3f8","name":"HTTP Request","credentials":{"httpBearerAuth":{"id":"9Gik3m7QP7d40Z62","name":"302"}}},{"parameters":{"workflowInputs":{"values":[{"name":"raw_content"},{"name":"model_name"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-256,48],"id":"192741fc-28a8-404e-987c-c66395a2a600","name":"execute"},{"parameters":{"promptType":"define","text":"=## 1. Vai Trò và Mục tiêu (Role & Persona)\nBạn là **Chuyên gia Meta-Prompting hàng đầu** cho các mô hình Text-to-Image. Nhiệm vụ của bạn là phân tích nội dung thô (RAW_CONTENT) và tạo ra một **Prompt Sinh Ảnh TỐI ƯU**, cô đọng, mạnh mẽ, tuân thủ nghiêm ngặt các yêu cầu về branding và tông màu **Sáng tối vừa phải, có độ tương phản cao**.\n\n## 2. Các Ràng Buộc Nghiêm Ngặt (Strict Constraints & Style Guide)\n1.  **Đầu ra duy nhất:** Bắt buộc chỉ là **DUY NHẤT một Prompt Sinh Ảnh** hoàn chỉnh (Tiếng Anh). Không giải thích, không tiêu đề.\n2.  **Ngôn ngữ Prompt:** BẮT BUỘC sử dụng **Tiếng Anh**.\n3.  **Tông màu BẮT BUỘC (QUAN TRỌNG):** Hình ảnh phải có **Độ tương phản cao (High Contrast)**, sử dụng **Ánh sáng kịch tính (Dramatic Lighting)** và **Tông màu sâu (Deep Tones)** để không bị quá tối, vẫn có thể làm nổi bật logo trắng.\n4.  **Negative Prompt BẮT BUỘC:** Tuyệt đối phải thêm các yếu tố cấm: **No text, no words, no logo, no watermark, clean composition.**\n5.  **Tính Phù hợp:** Prompt phải nắm bắt được **ý chính, cảm xúc, và chủ đề cốt lõi (Crypto/AI/Công nghệ)** của RAW_CONTENT.\n6.  **Phong cách Nghệ thuật:** Ưu tiên: **Cinematic, Conceptual Art, Digital Painting, 3D Render, Futuristic, Neon/Glow effects.**\n7.  **Cấu trúc Prompt Bắt buộc:** Prompt phải bao gồm các yếu tố sau theo thứ tự hợp lý:\n    *   **Chủ đề/Đối tượng:** (Thể hiện nội dung của bài viết).\n    *   **Hành động/Khái niệm:** (Mô tả chi tiết hơn về ý tưởng).\n    *   **Tông màu/Ánh sáng:** (Ví dụ: Dramatic cinematic lighting, Deep colors with vibrant accents, High contrast, Volumetric light, Dark environment).\n    *   **Chất lượng/Negative:** (Ví dụ: Hyper-detailed, 8K, Professional Digital Art, **No text, no logo, clean composition**).\n\n## 3. Dữ liệu Đầu vào (Input Variables)\n### RAW_CONTENT  {{ $json.raw_content }}\n\n## 4. Lệnh Thực thi\nDựa trên RAW_CONTENT và tất cả các ràng buộc trên, hãy tạo ra **Prompt Sinh Ảnh TỐI ƯU, mạnh mẽ** (Tiếng Anh), sẵn sàng để copy-paste vào mô hình tạo ảnh.","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-32,48],"id":"079c15f9-f65c-4f5f-b785-6b465977cf5a","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[48,272],"id":"9d7f604c-7c98-45f8-bf29-c9cbe9da1ccc","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"fusjifoCPA1JwyYW","name":"302"}}},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[768,80],"id":"be37475c-c522-4831-8cd8-3ccaac1ed891","name":"Wait","webhookId":"553ac3ca-49a0-4799-bef5-4a41bafe8255"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b31c0c14-b34f-4e9b-bf1e-ab7598a74b2b","leftValue":"={{ $json.message }}","rightValue":"=SUCCEED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[576,-16],"id":"f60eb235-a240-4b7f-bab9-1b0f597b9747","name":"If"},{"parameters":{"url":"=https://api.302.ai/klingai/v1/images/generations/{{ $json.data.task_id }}","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,352],"id":"5f197bc0-eb2e-4b50-b522-2ed54b5a50c1","name":"HTTP Request1","credentials":{"httpBearerAuth":{"id":"9Gik3m7QP7d40Z62","name":"302"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7cb83fab-0689-48ff-9bf6-5ec7dc9eb714","leftValue":"={{ $json.data.task_result.images[0].url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[496,304],"id":"2d8d48dc-6f18-40ab-967c-6d1363ef9253","name":"If1"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[720,496],"id":"a6cbad93-436a-496a-9879-ca57f5ee6486","name":"Wait1","webhookId":"5a332106-9ac4-4d7c-8a3f-9207cc6bd15a"}],"connections":{"execute":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request1","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[],[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4bc13afa-f25f-4eab-8d32-fdbee04149a0","triggerCount":0,"shared":[{"createdAt":"2025-10-05T09:43:05.540Z","updatedAt":"2025-10-05T09:43:05.540Z","role":"workflow:owner","workflowId":"EPr0W7oxcZgcbD4v","projectId":"9HJZe2ZyF9KLloKH"}],"tags":[]}