workflows/upload_to_webLC.json
{"createdAt":"2025-10-06T04:22:05.544Z","updatedAt":"2025-10-07T02:49:14.000Z","id":"ieK8iwWf0d3eddjW","name":"upload_to_webLC","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1B1CdG8ynPhnQs5U3oCIk5lcGTBppPAE9knA4S2r12wo","mode":"list","cachedResultName":"dev_test_data_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B1CdG8ynPhnQs5U3oCIk5lcGTBppPAE9knA4S2r12wo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"dev","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B1CdG8ynPhnQs5U3oCIk5lcGTBppPAE9knA4S2r12wo/edit#gid=0"},"event":"rowAdded","options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-1200,528],"id":"538905dc-6753-4c28-bf18-6b532185090d","name":"Google Sheets Trigger","disabled":true},{"parameters":{"jsCode":"return $input.all().map(item => {\n  return {\n    json: {\n      type: item.json[\"Bài viết từ kênh\"],\n      title: item.json[\"Tittle bài viết mới\"],    // cột Title trong Sheet\n      content: item.json[\"Nội dung bài viết mới (HTML)\"], // cột Content trong Sheet\n      status: \"draft\"               // luôn tạo nháp\n    }\n  };\n});\n\n\n// Chạy cho tất cả item\n// return $input.all().map(item => {\n//   return {\n//     json: {\n//       type: item.json[\"Bài viết từ kênh\"],\n//       title: item.json[\"Tittle bài viết mới\"],\n//       content: item.json[\"Nội dung bài viết mới (HTML)\"],\n//       status: \"draft\"   // để tạo bài viết ở trạng thái nháp\n//     }\n//   }\n// });\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-992,528],"id":"9003c1d2-9f5c-46fd-b0b3-c6821c050df3","name":"Code","disabled":true},{"parameters":{"method":"POST","url":"https://learningchain.vn/wp-json/wp/v2/posts","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": \"{{ $('Code').first().json.title }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-784,528],"id":"9c16695d-e891-45f0-8c0e-e6d965f97511","name":"HTTP Request","disabled":true},{"parameters":{"title":"={{ $json.title }}","additionalFields":{"content":"={{ $json.content }}","status":"draft","format":"standard"}},"type":"n8n-nodes-base.wordpress","typeVersion":1,"position":[208,-128],"id":"36f599c6-0652-4bf8-a2fa-7ca85586a5a0","name":"Create a post","disabled":true},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const type = item.json[\"Bài viết từ kênh\"] || \"\";\n\n  // Logic mới: Gán trực tiếp ID của category\n  // ID for 'AI' is 1, default/fallback is 0 for 'Blockchain'\n  const categoryId = type.toLowerCase().includes('ai') ? 1 : 0; // <-- THAY 1 và 0 bằng ID đúng\n\n  return {\n    json: {\n      type: type,\n      title: item.json[\"Tittle bài viết mới\"],\n      content: item.json[\"Nội dung bài viết mới (HTML)\"],\n      thumbnail_url: item.json[\"thumbnail_url\"],\n      thumbnail_slug: item.json[\"slug\"],\n      status: \"publish\",\n      meta: {\n        rank_math_robots: [\"noindex\"]\n      },\n      categories: [categoryId]\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,112],"id":"5c9715a1-2d99-41e9-b031-5bd8bb9ed0f0","name":"Lọc data từ sheet"},{"parameters":{"content":"Lọc ra chỉ lấy các cột cần thiết từ file Sheet","height":80},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-864,272],"id":"edddbe1b-2dd7-428b-961c-6f7e3cc06ff2","name":"Sticky Note"},{"parameters":{"content":"Lấy all data từ file sheet chỉ định","height":80},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1232,272],"id":"c76e6c60-cbb7-4ea5-9852-4ff6beab7c37","name":"Sticky Note1"},{"parameters":{"content":"Thực thi đăng bài, từ nội dung đã lấy / lọc","height":80,"width":160},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[176,304],"id":"a679967b-21ab-41c0-98f1-a9f62dc256fc","name":"Sticky Note2"},{"parameters":{"content":"Mỗi lần có dòng mới được thêm vào trong file Sheet, thì sẽ trigger thực hiện đăng thông qua n8n","height":96,"width":384,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1264,0],"id":"09f2a0e7-5e71-42bc-9ec2-4d7ea3785550","name":"Sticky Note3"},{"parameters":{"content":"Tách URL hình ảnh thumbnail để lấy slug","height":80},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-512,-32],"id":"ee918459-fdf1-44d2-b56b-ed45be8899e6","name":"Sticky Note4"},{"parameters":{"content":"Từ slug -> GET qua API để lấy ID hình ảnh","height":80},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-192,-32],"id":"3735f7f9-ac2a-4adc-a39d-a9d2d6518c04","name":"Sticky Note5"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1296,112],"id":"539544af-18a0-4c74-aacd-a4780b4d44a2","name":"Schedule Trigger1"},{"parameters":{"documentId":{"__rl":true,"value":"1fTKz8sabXOio65TmoqctZUDCtVR8hj8_zEXsJ_o_zVA","mode":"list","cachedResultName":"Multimedia Content","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fTKz8sabXOio65TmoqctZUDCtVR8hj8_zEXsJ_o_zVA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fTKz8sabXOio65TmoqctZUDCtVR8hj8_zEXsJ_o_zVA/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Web status","lookupValue":"pending"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1056,112],"id":"c689563e-4a69-4e6c-8b33-f37d9c0a7a0a","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"WprQcr8lVOW0rgT7","name":"LC sheet"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1fTKz8sabXOio65TmoqctZUDCtVR8hj8_zEXsJ_o_zVA","mode":"list","cachedResultName":"Multimedia Content","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fTKz8sabXOio65TmoqctZUDCtVR8hj8_zEXsJ_o_zVA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fTKz8sabXOio65TmoqctZUDCtVR8hj8_zEXsJ_o_zVA/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('tach row').item.json.row_number }}","Web status":"done","Web link":"={{ $json.guid.rendered }}"},"matchingColumns":["row_number"],"schema":[{"id":"Bài viết từ kênh","displayName":"Bài viết từ kênh","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Tittle bài viết gốc","displayName":"Tittle bài viết gốc","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Link bài viết gốc","displayName":"Link bài viết gốc","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Tittle bài viết mới","displayName":"Tittle bài viết mới","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nội dung raw ","displayName":"nội dung raw ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"suggest tags","displayName":"suggest tags","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"meta description","displayName":"meta description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"slug","displayName":"slug","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thumbnail_url","displayName":"thumbnail_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nội dung bài viết mới (HTML)","displayName":"Nội dung bài viết mới (HTML)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"tele status","displayName":"tele status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"FB status","displayName":"FB status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Web status","displayName":"Web status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Web link","displayName":"Web link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[80,112],"id":"62d8ea79-1f58-400e-b9bb-48da3f4df981","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"WprQcr8lVOW0rgT7","name":"LC sheet"}}},{"parameters":{"url":"=https://learningchain.vn/wp-json/wp/v2/media?search={{ $json.thumbnail_slug }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-432,112],"id":"1af57d89-7bcb-47f1-852d-62e33c2d4fdc","name":"Get Media ID1"},{"parameters":{"content":"Tách URL hình ảnh thumbnail để lấy slug","height":80},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-544,304],"id":"a6921d5d-7265-46eb-b9f9-9d4504f05a25","name":"Sticky Note6"},{"parameters":{"content":"Từ slug -> GET qua API để lấy ID hình ảnh","height":80},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-224,320],"id":"ce690532-9e8d-4863-95c4-c51cc1a39b0f","name":"Sticky Note7"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  item.json.myNewField = 1\nreturn _input.all()[-1]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,112],"id":"f8d49700-beca-4b49-823b-f8dc90046c71","name":"tach row"},{"parameters":{"method":"POST","url":"https://learningchain.vn/wp-json/wp/v2/posts","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $('tach row').item.json['Nội dung bài viết mới (HTML)'] }}"},{"name":"title","value":"={{ $('tach row').item.json['Tittle bài viết mới'] }}"},{"name":"status","value":"={{ $('Lọc data từ sheet').item.json.status }}"},{"name":"featured_media","value":"={{ $json.id || 0 }}"},{"name":"meta","value":"={{ $('Lọc data từ sheet').item.json.meta }}"},{"name":"slug","value":"={{ $json.slug }}"},{"name":"meta[rank_math_robots]","value":"noindex,follow"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,112],"id":"ebd84ce7-8a28-4efd-bd88-8fdbf10442b0","name":"Request Đăng bài lên web LC","credentials":{"httpBearerAuth":{"id":"9Gik3m7QP7d40Z62","name":"302"},"httpBasicAuth":{"id":"CNR92lgkpQEMMwe8","name":"LC WEB"}}},{"parameters":{"method":"POST","url":"https://nivex.vn/admin/news","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"x-api-key\": \"a4fe6c448770e8667cdcb178e63c60f77d3ac7b483bd765a103a89a9c725f104\",\n  \"Content-Type\": \"application/json\",\n  \"Accept\": \"application/json\"\n}\n","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"title\": \"Bài viết thử nghiệm từ n8n\",\n  \"category_id\": [1, 2],\n  \"status\": \"active\",\n  \"content\": \"Nội dung bài viết được gửi từ workflow n8n.\",\n  \"author\": \"Admin Nivex\",\n  \"thumbnail_url\": \"https://link.to/image.jpg\",\n  \"time_upload\": \"2025-10-07\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-448,384],"id":"a6d98c58-29a8-46df-8937-bedd7670411e","name":"Request Đăng bài lên web LC1"},{"parameters":{"method":"POST","url":"https://nivex.vn/admin/login","sendHeaders":true,"headerParameters":{"parameters":[{}]},"sendBody":true,"specifyBody":"json","options":{}},"id":"e8060e76-fff1-4625-93a6-ec02cc069018","name":"Login (JWT)","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-416,656]},{"parameters":{"method":"POST","url":"https://nivex.vn/api/admin/news","sendHeaders":true,"specifyHeaders":"json","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"title\": \"Tiêu đề bài viết\",\n  \"category_id\": [1, 2],\n  \"status\": \"active\",\n  \"content\": \"Nội dung bài viết\",\n  \"author\": \"Tên tác giả\",\n  \"thumbnail_url\": \"https://link.to/image.jpg\",\n  \"time_upload\": \"06/09/2025\"\n}","options":{}},"id":"6bc68c98-5bbd-4b3e-83ce-11a569d56b89","name":"Create News","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-96,656]}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Lọc data từ sheet":{"main":[[{"node":"Get Media ID1","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"tach row","type":"main","index":0}]]},"Get Media ID1":{"main":[[{"node":"Request Đăng bài lên web LC","type":"main","index":0}]]},"tach row":{"main":[[{"node":"Lọc data từ sheet","type":"main","index":0}]]},"Request Đăng bài lên web LC":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}]]},"Login (JWT)":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"705f6f55-3f30-4c79-8e7d-a44831434aa5","triggerCount":1,"shared":[{"createdAt":"2025-10-06T04:22:05.548Z","updatedAt":"2025-10-06T04:22:05.548Z","role":"workflow:owner","workflowId":"ieK8iwWf0d3eddjW","projectId":"9HJZe2ZyF9KLloKH"}],"tags":[]}